# Status Bar
# dwmblocks &

export LANG=zh_CN.UTF-8
export LANGUAGE=zh_CN:en_US

# Random Photo Every Login
feh --bg-fill --randomize ~/Pictures/wallpapers/* &

# Monitor Config
# xrandr --auto --output DVI-D-0 --mode 2560x1440 --left-of HDMI-0

# Network Manager Applet
nm-applet --indicator &

# Notification center
deadd-notification-center &

# Qv2ray
qv2ray &

# Solaar
# solaar --window=hide &

# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank

# Speedy keys
xset r rate 210 40

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="google-chrome-stable"

# For QT Themes
export QT_QPA_PLATFORMTHEME=qt5ct

# Compositor
picom -b

# Hide mouse when typing
xbanish &

# Screenshots
flameshot &

# Bluetooth systray icon
blueman-applet &

# Save your eye
redshift-gtk &

# helps with puls audio
# pasystray &

# Fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
fcitx &

# remap caps to escape
setxkbmap -option caps:escape
# swap escape and caps
# setxkbmap -option caps:swapescape

# load Xresources
xrdb ~/.Xresources

# zsh config dir
# export ZDOTDIR=$HOME/.config/zsh
